/build/
/dist/
/nbproject/private/
/src/lib/javadocs
/ext_packages/
/store/
dependency-reduced-pom.xml
nbactions.xml
/nbproject

# emacs temp files
*~

# thrift
/thrift/gen-*

# Maven
/target*

